node_modules/

# secrets
.vault/
*.vault
.env

# SECURITY
.env
*.env
.vault/
*.vault
**/.vault/**

# FINAL SECURITY LOCK
.env
*.env
.vault/
**/vault.js

# HARD CLEAN
**/.vault/
*.vault
.env
**/node_modules

Build/
Checking/
Cloning/
Deploying...
Running/
Uploading/
Downloaded/
Downloading/
Uploaded/
Exited/
